.color {color:green;
 float: left;

 }
.float {display: inline-block;}
div.column {
	       float: left;
            padding: 20px;
            margin-left: 120px;
              display: table-row;}

.medium-up-3 
{margin-left: 13%;}